soap-sample/src/main/resources/ipservice.wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://lavasoft.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://lavasoft.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;A web service which performs GetIpAddress Lookups.&lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://lavasoft.com/">
      <s:element name="GetIpLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sIp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIpLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIpLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetIpLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetIpLocation" />
  </wsdl:message>
  <wsdl:message name="GetIpLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetIpLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetIpLocationHttpGetIn">
    <wsdl:part name="sIp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIpLocationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetIpLocationHttpPostIn">
    <wsdl:part name="sIp" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetIpLocationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="GeoIPServiceSoap">
    <wsdl:operation name="GetIpLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;Get Country and State XML String for a given ip address in x.x.x.x format&lt;br/&gt;&lt;br/&gt;Parameter:GetIpAddress address &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;Type:String&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;Return:format in XML &lt; GeoIP &gt;&lt; Country &gt;US&lt; /Country &gt;&lt; State &gt;PA&lt; /State &gt;&lt; /GeoIP &gt; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;Type:String&lt;/b&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetIpLocationSoapIn" />
      <wsdl:output message="tns:GetIpLocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GeoIPServiceHttpGet">
    <wsdl:operation name="GetIpLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;Get Country and State XML String for a given ip address in x.x.x.x format&lt;br/&gt;&lt;br/&gt;Parameter:GetIpAddress address &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;Type:String&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;Return:format in XML &lt; GeoIP &gt;&lt; Country &gt;US&lt; /Country &gt;&lt; State &gt;PA&lt; /State &gt;&lt; /GeoIP &gt; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;Type:String&lt;/b&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetIpLocationHttpGetIn" />
      <wsdl:output message="tns:GetIpLocationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GeoIPServiceHttpPost">
    <wsdl:operation name="GetIpLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;br/&gt;Get Country and State XML String for a given ip address in x.x.x.x format&lt;br/&gt;&lt;br/&gt;Parameter:GetIpAddress address &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;Type:String&lt;/b&gt;&lt;br/&gt;&lt;br/&gt;Return:format in XML &lt; GeoIP &gt;&lt; Country &gt;US&lt; /Country &gt;&lt; State &gt;PA&lt; /State &gt;&lt; /GeoIP &gt; &amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;b&gt;Type:String&lt;/b&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetIpLocationHttpPostIn" />
      <wsdl:output message="tns:GetIpLocationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeoIPServiceSoap" type="tns:GeoIPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIpLocation">
      <soap:operation soapAction="http://lavasoft.com/GetIpLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeoIPServiceSoap12" type="tns:GeoIPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIpLocation">
      <soap12:operation soapAction="http://lavasoft.com/GetIpLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeoIPServiceHttpGet" type="tns:GeoIPServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetIpLocation">
      <http:operation location="/GetIpLocation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeoIPServiceHttpPost" type="tns:GeoIPServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetIpLocation">
      <http:operation location="/GetIpLocation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeoIPService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;A web service which performs GetIpAddress Lookups.&lt;/b&gt;</wsdl:documentation>
    <wsdl:port name="GeoIPServiceSoap" binding="tns:GeoIPServiceSoap">
      <soap:address location="http://wsgeoip.lavasoft.com/ipservice.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoIPServiceSoap12" binding="tns:GeoIPServiceSoap12">
      <soap12:address location="http://wsgeoip.lavasoft.com/ipservice.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoIPServiceHttpGet" binding="tns:GeoIPServiceHttpGet">
      <http:address location="http://wsgeoip.lavasoft.com/ipservice.asmx" />
    </wsdl:port>
    <wsdl:port name="GeoIPServiceHttpPost" binding="tns:GeoIPServiceHttpPost">
      <http:address location="http://wsgeoip.lavasoft.com/ipservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>